.bgimg {
  background-image: url('/catelogo/bg1.png');
  background-repeat: no-repeat;
  /* Prevents the image from repeating */
  background-size: cover;
  /* Makes the image cover the entire element */
  background-position: center;
  /* Centers the image within the element */
  background-attachment: fixed;
  /* Optional: Makes the background image fixed relative to the viewport */
}


/* Make TabList a row */
.tab-row {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #ddd;
  /* Optional: a border under all tabs */
}

/* Style individual tabs */
.custom-tab {
  padding: 10px 20px;
  border: none;
  border-bottom: 2px solid transparent;
  /* Transparent border for non-selected tabs */
  cursor: pointer;
}

.custom-tab--selected {
  border-bottom: 2px solid #000;
  /* Bottom border for selected tab */
}